
section {
width: 50%;
height: 60px;
margin: auto;
text-align: center;
background-color:gray;
position: relative;
top: 100px;
line-height: 60px;
}

h4{
  color: white;
}

#show-data{
display: grid;
grid-template-columns: 1fr 1fr;
width: 80em;
max-height: 50em;
}
