form{

    display:flex;
    justify-content: center;
  
    background-color: rgb(25, 104, 156);
    border: solid rgb(65, 77, 187) 3px;
    color: white;
    width: 50%;
    height: 200px;
    margin: auto;
    border-radius: 7px;
  
  }
 
  #inputBody{
    overflow: scroll;
    height: 50%;
    width: 100%;
  }

  .method-button {
    margin: 10px 5px;
    height: 50ps;
  }

  .method-button:focus {

    color: rgb(0, 255, 0);
    background-color: rgb(36, 33, 33);
  }
  #loadingSpinner{

    text-align: right;
  }
