#history{
    
    margin:auto;
    margin-top: 10px;
    overflow: scroll;
    width:80%;
    min-height: 50px;
    max-height:280px;
    border: solid gray 3px;
    border-radius: 5px;
    padding: 10px;

    background-color: gray;

}
li{
    list-style-type:none;
}

.method {
    background-color: rgb(33, 139, 12);
    color: white;
    font-weight: bold;
}

#button-url {

    background-color: rgb(0, 0, 0);
    color: white;
    border: 0;
}

#button-url:hover {
background-color:green;
}
#button-url:focus {
    background-color:white;
    color: black;
    }