#results{
    margin:auto;
    margin-top: 10px;
    overflow: scroll;
    width:80%;
    min-height: 50px;
    max-height:280px;
    border: solid gray 3px;
    border-radius: 5px;
    padding: 10px;
}
